.trip-box-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    max-height: 300px;
    width: 320px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.16);
    position: absolute;
    top: 39px;
    left: 0;
    background-color: #fafafa;
    z-index: 10;
}

.trip-box-wrapper .trip-box-children {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.trip-box-wrapper .trip-box-children>* {
    margin: 10px 5px;
}

.trip-box-wrapper .trip-box-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: 50px;
}